* {
    margin: 0;
    border: 0;
    padding: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

/* Editando o cabeçalho */
header{
    background: linear-gradient(to top, rgb(255,255,255), rgb(3, 7, 30));
    color: rgb(255, 255, 255);
    padding: 20px;
    text-align: end;
    font-size: 1.6rem;
    position: fixed;
    width: 98%;
}

.conteudo-topo {
    padding-top: 28rem;
}

/* Editando os Links */
a {
    text-decoration: none;
    color: rgb(198, 198, 198);
    display: contents;
}
a:hover {
    color: rgb(255, 186, 8);
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.1);
}

#whatsapp {
    right: 0;
    bottom: 0;
    position: fixed;
    text-align: center;
    z-index: 1;
    margin-right: 5px; 
}

/* Editando as imagens*/
figure{
    text-align: center;
}

img {
    height: 70%;
    width: 70%;
    border-radius: 5px;
}

.logo {
    width: 30%;
    height: 30%;
    text-align: center;
    margin-top: -8rem;
}

/* Editando os Fontes */
h3 {
    font-family: 'Poppins';
    font-style: bold;
    font-size: 2rem;
    color: rgb(157, 2, 8);
}

h4 {
    font-family: 'Poppins';
    font-style: bold;
    font-size: 4rem;
    color: rgb(157, 2, 8);
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    padding: 50px;
}

h5 {
    font-family: 'Poppins';
    font-style: bold;
    font-size: 4rem;
    color: rgb(255, 186, 8);
    text-align: center;
    padding: 50px;
}

p {
    font-family: 'Poppins';
    font-style: bold;
    font-size: 1.5rem;
    line-height: 1.6;
}

/* Editando os Icones*/
.icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    margin-left: 20px;
    bottom: 0;
}

/* Editando as grids */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1px;
    max-width: 1200px;
    margin: 0 auto;
}
.grid div {
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 1rem;
}

.lanches {
    padding-top: 24rem;
}
.acompanhamentos {
    padding-top: 24rem;
}
.bebidas {
    padding-top: 24rem;
}

/* Editando o Rodapé */

footer {
    background: linear-gradient(to bottom, rgb(255,255,255), rgb(3, 7, 30));
    color: rgb(255, 255, 255);
    padding: 20px;
    text-align: center;
    font-size: 1.6rem;
}

/* Responsividade do Site */

@media (min-width: 280px) and (max-width: 880px) {
    /* Cabecalho Responsivo*/
    header {
        text-align: center;
        width: 100%;
        height: 14%;
        position: fixed;
        z-index: 1;
    }

    .conteudo-topo {
        padding-top: 15rem;
    }

    nav {
        padding-top: 10px;
        position: fixed;
        z-index: 1;
    }

    /* Icones Responsivos*/
    .icon {
        width: 25px;
        height: 25px;
        margin-right: 5px;
        margin-left: 10px;
        bottom: 0;
    }

    /* Logo Responsiva*/
    .logo {
        margin-top: 1rem;
        width: 57%;
        height: 55%;
    }

    /* Fontes Responsivas*/
    h4 {
        padding: 20px;
    }
    h5 {
        padding: 15px;
    }

    /* Grids Responsivas*/
    .lanches {
        padding-top: 15.5rem;
    }
    .acompanhamentos {
        padding-top: 15.5rem;
    }
    .bebidas {
        padding-top: 15.5rem;
    }
}

@media (min-width: 760px) and (max-width: 1400px) {
    /* Cabecalho Responsivo*/
    header {
        text-align: center;
        width: 100%;
        height: 22%;
        position: fixed;
        z-index: 1;
    }

    .conteudo-topo {
        padding-top: 35.7rem;
    }

    nav {
        padding-top: 10px;
        position: fixed;
        z-index: 1;
        width: 100%;
        height: 50%;
    }

    /* Icones Responsivos*/
    .icon {
        width: 25px;
        height: 25px;
        margin-right: 5px;
        margin-left: 10px;
        bottom: 0;
    }

    /* Logo Responsiva*/
    .logo {
        margin-top: 1rem;
        width: 57%;
        height: 55%;
    }

    /* Fontes Responsivas*/
    h4 {
        padding: 20px;
    }
    h5 {
        padding: 15px;
    }

    /* Grids Responsivas*/
    .lanches {
        padding-top: 37.5rem;
    }
    .acompanhamentos {
        padding-top: 37.5rem;
    }
    .bebidas {
        padding-top: 37.5rem;
    }
}
